[ req ]
default_bits = 4096
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[ dn ]
C = CA
O = Brown Rook
CN = argocd.brownrook.net

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = argocd.brownrook.net
DNS.2 = argocd.idc.brownrook.net

